/* index.css */

/* Styles for the container of the SVG and tooltip */
.cell-container {
  position: relative; /* Ensure positioning context for absolute positioning */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center align items vertically */
}

/* Styles for the SVG */
.small-cell-svg {
  position: relative;
  display: flex;
  align-items: center; 
}

/* Styles for the tooltip container */
.tooltip-container {
  position: absolute; /* Position the tooltip container absolutely */
  display: none; /* Hide the tooltip by default */
  background-color: #ffffff; /* Background color of the tooltip */
  padding: 5px; /* Padding around the tooltip content */
  border: 1px solid #000000; /* Border of the tooltip */
  border-radius: 5px; /* Border radius to give rounded corners */
  top: 5;
}

/* Show tooltip when hovered over the parent container */
.cell-container:hover .tooltip-container {
  display: block; /* Show the tooltip when hovering over the parent container */
}




