/* Reset some default styles to ensure consistent rendering */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

/* index.css */
.small-cell-svg {
  width: auto;
  height: auto;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: transparent;
  color: black;
  padding: 5px;
  border-radius: 5px;
}



